* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

body {
  min-height: 100vh;
  background-color: #1b1b1b;
  color: rgb(150, 150, 150);
  display: grid;
  place-content: center;
  padding: 1rem;
}
